.Home {
    width: 100%;
    /* height: 90vh; */
    backdrop-filter: blur(25px);
    position: relative;
}
.bg {
    position: absolute;
    top: 30%;
    right: 16%;
    z-index: -1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
background: linear-gradient(90deg, rgba(131, 58, 180, 0.678) 0%, rgba(253, 29, 29, 0.651) 50%, rgba(252, 176, 69, 0.719) 100%);
}
.video {
    top: 10%;
    left: 30%;
    position: absolute;
    z-index: -1;
    width: 30vw;
    border-radius: 10px;
    height: 50vh;
    background-color: rgba(17, 17, 17, 0.411);
    overflow: hidden;
    display: none;
}
.video video {
    width: 100%;
    height: 100%;
    opacity: .8;
    transform: scale(1.7);
}
.header {
    font-size: 7.4vw;
    white-space: nowrap;
    margin-left: 5%;
}
.header span {
    font-size: 8vw;
    margin-left: 30%;
}
.links {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    margin-top: 3em;
    position: relative;
    
}
.discuss {
    width: 300px;
    /* height: fit-content; */
    text-align: center;
    position: relative;
    bottom: 0;
    margin-bottom: 5em;
}
.discuss a{
   color: black;
   text-decoration: none;
   position: absolute;
   left: 20%;
   top: 25px;
}
.discuss .circle-1{
  width: 200px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #111;
}
.discuss .circle-2{
    width: 200px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #111;
  transform: rotate(-35deg);
  transition: 1s transform;
}
.discuss:hover > .circle-2 {
    transform: rotate(0deg);
}
.link_to_what_we_Do a{
 display: flex;
 align-items: center;
 gap: 2em;
 color: #111;
 text-decoration: none;
}
.link_to_what_we_Do img {
    transform: rotate(90deg) scaleY(2);
}
.heroTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    margin-top: 3em;
}
.txt-1 {
    font-size: 1.3em;
}
.txt-2 {
    font-size: 1.2em;
    font-weight: 300;
}
#work{
    margin-top: 20vh;
    color: #111;
    /* padding: 100px 0; */
}

.work-header {
    font-size: 3em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.sticky_wrapper {
    width: 100%;
    position: sticky;
    top: 10%;
    overflow: hidden;
}
.flex_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
}
.flex_wrapper .box:nth-child(1) {
    margin-left: 100%;
}
.flex_wrapper .box:nth-child(5) {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_wrapper .box:nth-child(5) p{
    font-size: 3em;
    background: #fff;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-items: center;
}
.box {
  width: 35vw;
  flex-shrink: 0;
    height: 70vh;
    margin-right: 3em;
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.678) 0%, rgba(253, 29, 29, 0.651) 50%, rgba(252, 176, 69, 0.719) 100%);
    /* color: #111; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 300ms transform;
    border: none;
}
.box:hover {
    transform:  translateY(-30px);
}
.box-img {
    height: 80%;
    overflow: hidden;
}
.box-img video {
    width: 100%;
    height: 100%;
    transform: scaleY(2);
}
.box-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #111;
    padding: 1em;
}
.box-link p {
    padding: 0;
    font-size: 1.5em;
    color: #fff;
}
.box-link a {
    background: #eee;
    border-radius: 50%;
    padding: 6px;
}
.box-link a > img {
    width: 30px;
}