#trailer {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #111;
    position: fixed;
    pointer-events: none;
    left: 0px;
    top: 0px;
    z-index: 9999;
    /* opacity: 0; */
    transition: opacity 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body:hover > #trailer {
    opacity: 1;
  }